ISO/
Output*
OUTPUT*
*.vmdk
*.ovf
*ovf
*.box
*.ISO
*.exe
*.nvram
*.vmsd
*.vmx
*vmx
*.vmxf
*.vdi
*.appicon
*.log
*.menudata
*.iso
*.plist
*.appinfo
*-iso
*.lck
*.vmem
*.vmem.lck
*.lck
*.plist
*.msu
*.tar
*.appicon
.DS_Store
*.tar.gz
*.raw
